extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus elit sit amet sapien accumsan, ac bibendum purus viverra. Phasellus pharetra maximus varius.

                p Aenean quis odio vitae felis maximus eleifend. Sed consequat non odio id iaculis. Integer vel diam sit amet urna tincidunt vestibulum. Pellentesque laoreet ut orci vitae commodo. Nulla ut nibh eu lorem rhoncus dictum. Nunc volutpat elementum diam, id tristique diam. Fusce vitae sollicitudin libero

                p Mauris eleifend, neque id tempor mollis, dolor elit luctus purus, non ornare urna dui vel risus. Proin at dui vel neque porttitor varius. Etiam fringilla lectus sit amet feugiat maximus. Curabitur sagittis ac eros non porta. Donec bibendum, massa at lobortis dignissim, mi nisl tincidunt velit, et sollicitudin orci tortor eu enim. Morbi consequat ante vel rutrum mattis.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p non ornare urna dui vel risus. Proin at dui vel neque porttitor varius. Etiam fringilla lectus sit amet feugiat maximus. Curabitur sagittis ac eros non porta.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p non ornare urna dui vel risus. Proin at dui vel neque porttitor varius. Etiam fringilla lectus sit amet feugiat maximus. Curabitur sagittis ac eros non porta.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p non ornare urna dui vel risus. Proin at dui vel neque porttitor varius. Etiam fringilla lectus sit amet feugiat maximus. Curabitur sagittis ac eros non porta.